
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.php_cs.cache
*.sql

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
